<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>テトリス</title>
  </head>
  <body>
    <div id="score"></div>
    <canvas id="tetris" width="240" height="400"></canvas>
    <%# <script src="tetris2.js"></script> %>
  </body>
</html>
<style>
  body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
  }
  canvas {
    border: solid 2em #fff;
    height: 90vh;
  }
</style>